/**
 * Using the code here for the layout. Its neatly done :-)
 * http://www.alistapart.com/articles/holygrail
 */

/*** Layout Starts ***/
body {
  	min-width: 550px;      /* 2x LC width + RC width */
	background : #CCCCCC;
}

#wrapper {
	width : 100%;
	background : #007CDE;
}

#header {
	background: url(../images/bgcolor.png) repeat-x; 
	height : 149px;
}

#container {
	padding-left: 200px;   /* LC width */
  	padding-right: 200px;  /* RC width */
	background : #000;
}

#container .column {
  	position: relative;
  	float: left;
}

#center {
  	width: 100%;
	background: #FFFFFF;
	margin: 0 0 0 0; /* top right bottom left */
}

#content_wrapper {
	padding-left: 10px;	/* LC width */
	padding-right:10px; /* RC width */
}

#left {
  	width: 200px;          /* LC width */
  	right: 200px;          /* LC width */
  	margin-left: -100%;

}

#right {
	width: 200px;          /* RC width */
	height : 100%;
  	margin-right: -200px;  /* RC width */
	background : #007CDE;
	
}

#footer {
	clear: both;
}

/*** IE6 Fix ***/
* html #left {
	left: 150px;           /* RC width */
}

/*** Layout Ends ***/

/*** General Styling ***/
#left_menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#company_name{
	font-family: Tahoma, Verdana, Arial;
	color: #FFF;
	font-size: 50px;
	padding-top: 35px;
	padding-left: 50px;
	font-weight: bold;
	
}
	
#left_menu {
	width: 195px;
	height : 100%;
	border: 0px solid #CCC;
	margin: 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	background : #007CDE;
}
	
#left_menu li a {
  	voice-family: "\"}\""; 
  	voice-family: inherit;
  	height: 26px;
	text-decoration: none;
	}	
	
#left_menu li a:link, #left_menu li a:visited {
	color: #FFF;
	width : 180px;
	display: block;
	background: url(../images/nav-buttons.gif);
	padding: 5px 0 1px 20px;
}
	
#left_menu li a:hover, #left_menu li a:active {
	color: #FFF;
	width : 180px;
	background: url(../images/nav-buttons.gif) 0 -32px;
	padding: 5px 0 1px 20px;
}
	
#left_side_bar {
	font-family: Tahoma, Verdana, sans-serif, Helvetica;
	color: #F5F5F5;
	font-size: 10px;
	padding: 0px;
}

#left_side_bar a:link, #LeftSideBar a:visited {
	color: #FFF;
	text-decoration: underline;
	font-weight: normal;
}

#left_side_bar a:hover {
	color: #FFF;
	text-decoration: underline;
	font-weight: normal;
}				
						
/*** footer styling ***/		
#footer {
	background-color: #343434;
	background-position: top;
	font-family: Tahoma, Verdana, sans-serif, Helvetica;
	font-size: 10px;
	color: #CCC;
	padding-top:5px;
	padding-bottom:5px;
	text-align: center;
}

#footer ul li{
	display : inline;
	margin : 0;
}
	
#footer ul li a:link, #footer ul li a:visited {		
	padding-left: 0px;
	padding-right : 0px;
	padding-top : 5px;
	padding-bottom : 5px;
	text-decoration: none;
	color:#CCC
}

#footer ul li a:hover {		
	text-decoration: underline;
	color:#FFF
}
